{% extends 'layouts/base.html.twig' %}

{% block title 'Profile'%}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <div>
                <h1 class="my-4">Profile de {{ app.user.fullName }}</h1>
                <p><small>Compte créé le  {{ app.user.createdAt|date('d/m/Y') }}</small></p>
            </div>
        </div>
    </div>
    <h2 class="my-5">Ma bibliothèque</h2>
    <h5 class="my-5">Mes abonnements</h5>
        {% if app.user.abonnements|length %}
            <div class="row mb-5">
                {% for abonnement in app.user.abonnements %}
                    <div class="col-md-4">
                        <article class="bg-white rounded shadow pin">

                            <div class="cover mw-100 overflow-hidden rounded-top">
                                <a href="{{ path("app_ouvrages_show", {id : abonnement.ouvrage.id}) }}">
                                    <img src="{{ abonnement.ouvrage.couverture ? vich_uploader_asset(abonnement.ouvrage) |imagine_filter('squared_thumbnail_medium') : asset('build/images/default.webp') |
                                    imagine_filter('squared_thumbnail_medium') }}" alt="{{ abonnement.ouvrage.titre }}" class="w-100"/>
                                </a>
                            </div>

                            <h2 class="h5 pl-3 pt-3"><a class="text-decoration-none text-secondary" href="">{{ abonnement.ouvrage.titre }}</a></h2>

                            <p class="pl-3 text-muted"><small> {{ abonnement.ouvrage.auteur }}</small></p>

                            <h3 class="h5 pl-3 pb-3"><a class="text-decoration-none text-secondary" href="">{{ abonnement.ouvrage.ouvrageCollection.Titre }}</a></h3>
                        </article>
                    </div>

                {% endfor %}
            </div>

        {% else %}
            <p class="my-5 mt-3">Vous êtes abonné à aucun ouvrage</p>
        {% endif %}
    <h5 class="my-5">Mes favoris</h5>
        {% if app.user.favoris|length %}
            {% for favori in app.user.favoris %}
                <div class="row mb-5">
                    <a class=" float-right" href="#">
                        <p class="mr-3 ml-3 pt-3 text-break">{{ favori.titre }}</p>
                    </a>
                    <a class="heart {% if favori %} favoris{% endif %}" data-id="{{ favori.id }}" href="javascript:void(0);">
                        <span class="fa fa-heart"></span>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p class="my-5 mt-3">Vous n'avez aucun favoris actuellement</p>
        {% endif %}

{% endblock %}
