{% extends 'layouts/base.html.twig' %}

{% block title ouvrage.titre %}

{% block body %}
    {% set favoris = [] %}
    {% for favori in user.getFavoris %}
        {% set favoris = favoris|merge([favori.id]) %}
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <article class="bg-white rounded shadow">
                <div class="col-md-6 pt-3 pt-3">
                    <h1 class="h4 text-decoration-none text-secondary">{{ ouvrage.titre }}</h1>
                    <p class="pt-3 text-break">{{ ouvrage.ouvragecollection.titre }}</p>

                    <div class="cover mw-100 overflow-hidden rounded">
                        <img src="{{ ouvrage.couverture ? vich_uploader_asset(ouvrage) |imagine_filter('squared_thumbnail_medium') : asset('build/ouvrages/default.webp') |
                        imagine_filter('squared_thumbnail_medium') }}" alt="{{ ouvrage.titre }}" class="w-100"/>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="p-3">
                        <ul>
                            {% if ouvrage.chapitres|length > 0%}
                                {% for chapitre in ouvrage.chapitres %}
                                <li>
                                    <div>
                                        <a class="heart float-right {% if chapitre.id in favoris %} favoris{% endif %}" data-id="{{ chapitre.id }}" href="javascript:void(0);">
                                            <span class="fa fa-heart"></span>
                                        </a>
                                        <a class="" href="{{ path("app_chapitre_show", {id : chapitre.id}) }}">
                                            <p class="pt-3 text-break">{{ chapitre.titre }}</p>
                                        </a>
                                    </div>
                                    <ul>
                                        {% if chapitre.sections|length > 0%}
                                            {% for section in chapitre.sections %}
                                                <li>
                                                    <div>
                                                        <a class="heart float-right{% if section.id in favoris %} favoris{% endif %}" data-id="{{ section.id }}" href="javascript:void(0);">
                                                            <span class="fa fa-heart"></span>
                                                        </a>
                                                        <a class="" href="{{ path("app_section", {id : section.id}) }}">
                                                            <p class="pt-3 text-break">{{ section.titre }}</p>
                                                        </a>
                                                    </div>
                                                    <ul>
                                                        {% if section.ressources|length > 0%}
                                                            {% for ressource in section.ressources %}
                                                                <li>
                                                                    <a class="heart float-right{% if ressource.id in favoris %} favoris{% endif %}" data-id="{{ ressource.id }}" href="javascript:void(0);">
                                                                        <span class="fa fa-heart"></span>
                                                                    </a>
                                                                    <a class="" href="{{ path("app_ressource", {id : ressource.id}) }}">
                                                                        <p class="pt-3 text-break">{{ ressource.titre }}</p>
                                                                    </a>
                                                                    <a download="{{ ressource.fichier }}" href="{{asset (vich_uploader_asset (ressource, 'fichierFile'))}}"><p>{{ ressource.fichier }}</p></a>
                                                                </li>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </li>
                                {% endfor %}
                            {% else %}
                                <p class="pt-3 text-break">Cet ouvrage est en cours de création</p>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}