{% extends 'layouts/base.html.twig' %}

{% block title ouvrage.titre %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <article class="bg-white rounded shadow pin">
                <div class="mw-100 overflow-hidden rounded-top">
                    <img src="{{ ouvrage.couverture ? vich_uploader_asset(ouvrage) |imagine_filter('squared_thumbnail_medium') : asset('build/ouvrages/default.webp') |
                    imagine_filter('squared_thumbnail_medium') }}" alt="{{ ouvrage.titre }}" class="w-100"/>
                </div>
                <div class="p-3">
                    <h1 class="h5 text-decoration-none text-secondary">{{ ouvrage.titre }}</h1>

                    <div class="pt-3">
                        <p class="pt-3 text-break">{{ ouvrage.ouvragecollection.titre }}</p>
                    </div>

                    <div class="pt-3">
                        <a class="btn btn-light" href="{{ path("app_ouvrage", {id : ouvrage.id}) }}">Consulter</a>
                    </div>

                </div>
            </article>
        </div>
    </div>
{% endblock %}